
body{
        background-color: aqua;
    }
    h1{
        color: blue;
        border: 1rem solid yellow;
        padding: 0%;
    }
    img{
        border-color: yellow;
        border-style: solid;
    }
    p{
        text-align: end;
    }
